<tr id="boxrow-{{.ID}}" class="border-b dark:border-neutral-500 hover:bg-slate-300 hover:bg-opacity-20">
  <td class="whitespace-nowrap px-6 py-4">
      <button
          hx-get="/box-items?boxid={{ .ID }}"
          hx-target="#boxrow-{{ .ID }}"
          hx-swap="afterend"
          class="inline-flex items-center h-8 px-4 m-2 text-sm text-stone-100 transition-colors duration-150 bg-stone-700 rounded-lg focus:shadow-outline hover:bg-stone-800"
      >
        &gt;
      </button>
    </td>
    <td class="whitespace-nowrap px-6 py-4">{{.ID}}</td>
    <td class="whitespace-nowrap px-6 py-4">{{.Name}}</td>

    {{ template "components/parsed-packing-stage.html" .ID }}

    {{ template "components/parsed-category.html" .ID }}

    {{ if .Description }}
      <td class="whitespace-nowrap px-6 py-4">{{.Description}}</td>
    {{ else }}
      <td class="whitespace-nowrap px-6 py-4">...</td>
    {{ end }}

    {{ if .Notes }}
      <td class="whitespace-nowrap px-6 py-4">{{.Notes}}</td>
    {{ else }}
      <td class="whitespace-nowrap px-6 py-4">...</td>
    {{ end }}

    <td class="whitespace-nowrap px-6 py-4">
      <button
        hx-get="/items/edit/{{ .ID }}"
        hx-target="#boxrow-{{ .ID }}"
        hx-swap="outerHTML"
        class="inline-flex items-center h-8 px-4 m-2 text-sm text-yellow-100 transition-colors duration-150 bg-yellow-700 rounded-lg focus:shadow-outline hover:bg-yellow-800"
      >
        Edit
      </button>
  </tr>
